.loginWrapper{
    display: flex;
    justify-content: center;
}

.loginCard{
    width: 27vw;
    margin-top: 4%;
}

.insta-logo{
    display: flex;
    justify-content: center;
}

.logo{
    width: 18vw;
}